body{
    background:linear-gradient( to left, rgb(15, 5, 110), rgb(87, 148, 228),rgb(15, 5, 110) );
    color: rgb(17, 6, 179);
    text-align: center;
    font-size: 1.2rem; 

}
nav a{ 
    margin-right: 8px;
}
a{
    text-decoration: none;
    color: rgb(12, 46, 241);
}
a:hover{
   transition: ease;
  transition-duration: 1.0s;
   background-color: rgb(48, 48, 117);
   padding: 0px 4px;
   border-radius: 4px;
}
a:active{
    transition: ease;
  transition-duration: 1.0s;
   background-color: rgb(48, 48, 117);
   padding: 0px 5px;
   border-radius: 5px;
}
.foto-placa img{
    width: 340px;
    height: 340px;
    border-radius: 16px;
}


.video-placa iframe{
    width: 340px;
    height: 340px;
    border-radius: 16px;
}
.mapa-fabrica iframe{
    width: 340px;
    height: 340px;
    border-radius: 16px;
}