body{
    background-color:rgb(124, 8, 66);
    color: white;
    text-align: center;
    font-size: 1.2rem; 

}
nav a{ 
    margin-right: 8px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
   transition: ease;
  transition-duration: 1.0s;
   background-color: rgb(48, 48, 117);
   padding: 0px 4px;
   border-radius: 4px;
}
a:active{
    transition: ease;
  transition-duration: 1.0s;
   background-color: rgb(48, 48, 117);
   padding: 0px 4px;
   border-radius: 4px;
}
.foto-placa img{
    width: 340px;
    height: 340px;
    border-radius: 16px;
}


.video-placa iframe{
    width: 340px;
    height: 340px;
    border-radius: 16px;
}
.mapa-fabrica iframe{
    width: 340px;
    height: 340px;
    border-radius: 16px;
}